### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Local artifacts ###
.venv
version-info.json
config-local.yml
node_modules
build
dist
vast
__pycache__
.~lock.*
.coverage
pytest-report
.ipynb_checkpoints
recordings

*.log
*.zip

/data

#/src/grpc_/api
.aider*
.env.aider

/poetry.lock
